@model DesafioBenner.Models.Precos

@{
    ViewData["Title"] = "Cadastrar Preço";
}

<h4>Cadastrar Preço</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Valor_inicial" class="control-label"></label>
                <input asp-for="Valor_inicial" class="form-control" />
                <span asp-validation-for="Valor_inicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor_adicional" class="control-label"></label>
                <input asp-for="Valor_adicional" class="form-control" />
                <span asp-validation-for="Valor_adicional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_inicial" class="control-label"></label>
                <input asp-for="Data_inicial" class="form-control" />
                <span asp-validation-for="Data_inicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_final" class="control-label"></label>
                <input asp-for="Data_final" class="form-control" />
                <span asp-validation-for="Data_final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
